<template>
    <div>
        <Header/>
        <main>
            <div class="section">
                <form @submit.prevent="sendForm" class="container">
                    <div class="columns">
                        <div class="column">
                            <div class="level">
                                <div class="level-item">
                                    <h1 class="is-size-4 bold title">Ajouter une nouvelle recette 👨‍🍳</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="errors && errors.length" class="columns">
                        <div class="column">
                            <div class="level">
                                <div class="level-item">
                                    <ul>
                                        <li class="is-size-4 bold title" v-for="error in errors">
                                            {{error.message}} ⛔️
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-6">
                            <div class="level">
                                <div class="level-item">
                                    <div class="field">
                                        <label class="label">🥘 Nom de la recette (ex: Poulet rôti)</label>
                                        <div class="control">
                                            <input required class="input" type="text" v-model="name" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="level">
                                <div class="level-item">
                                    <div class="field">
                                        <label class="label">👨‍💼 Nombre de personne(s)</label>
                                        <div class="control">
                                            <select required class="input" name="" v-model="persons">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="level">
                                <div class="level-item">
                                    <div class="field">
                                        <label class="label">⌛️ Temps de préparation (ex: 01:15)</label>
                                        <div class="control">
                                            <input required class="input" type="time" v-model="time" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="level">
                                <div class="level-item">
                                    <div class="field">
                                        <label class="label">🧩 Niveau de difficulté</label>
                                        <div class="control">
                                            <select required class="input" name="skill" id="" v-model="skill">
                                                <option value="Très facile">Très facile</option>
                                                <option value="Facile">Facile</option>
                                                <option value="Moyen">Moyen</option>
                                                <option value="Dur">Dur</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="columns">
                        <div class="column is-6">
                            <div class="columns">
                                <div class="column is-7">
                                    <div class="field">
                                        <div class="control">
                                            <label class="label">🥕 Ingredients :</label>
                                            <input @keydown.enter.prevent="newIngredient" class="input"
                                                   v-model="ingredient.description" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="field">
                                        <div class="control">
                                            <label class="label">💯 Quantity :</label>
                                            <select class="input" name="quantity" v-model="ingredient.quantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="level">
                                <div class="level-left">
                                    <div class="level-item">
                                        <button @click.prevent="newIngredient" class="button is-info">Ajouter</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="level">
                                <ul>
                                    <li class="is-capitalized" v-for="ingredient in ingredients">
                                        - {{ ingredient.quantity }}
                                        {{ ingredient.description }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="columns">
                        <div class="column is-6">
                            <div class="level">
                                <div class="level-item">
                                    <div class="field">
                                        <div class="control steps">
                                            <label class="label">🥣 Étape : {{ stepNumber }}</label>
                                            <textarea @keydown.enter.prevent="newStep" class="textarea"
                                                      v-model="step.description" type="text"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="level">
                                <div class="level-left">
                                    <div class="level-item">
                                        <button @click.prevent="newStep" class="button is-info">Ajouter</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="level">
                                <ul>
                                    <li v-for="step in steps">
                                        - Étape {{ step.stepNumber }} : {{ step.description }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="columns">
                        <div class="column">
                            <div class="level">
                                <div class="level-item">
                                    <div class="is-grouped">
                                        <div class="control">
                                            <button type="submit" class="button is-success">Créer la recette</button>
                                        </div>
                                        <div class="control">
                                            <router-link class="button is-danger button__cancel"
                                                         :to="{name: 'Home'}" tag="button">
                                                Annuler
                                            </router-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </div>
</template>

<script>

	import Header from '@/components/Header';

	export default {
		name: "Add",
		components: {
			Header
		},
		data() {
			return {
				recipeId: '',
				name: '',
				persons: '',
				time: '',
				skill: '',
				stepNumber: '1',
				step: {
					description: '',
					stepNumber: ''
				},
				ingredient: {
					description: '',
					quantity: '',
				},
				ingredients: [],
				steps: [],
				errors: []
			}
		},
		methods: {
			newStep() {
				if (this.step.description.length) {
					this.steps.push({
						description: this.step.description,
						stepNumber: this.stepNumber
					});
					this.stepNumber++
					this.step.description = '';
					this.step.stepNumber = '';
				}
				return
			},
			newIngredient() {
				if (this.ingredient.description.length && this.ingredient.quantity.length) {
					this.ingredients.push(this.ingredient)
					this.ingredient = {
						description: '',
                        quantity: '',
                    };
				}
			},
			sendForm() {
				this.errors = []
				if (this.ingredients.length && this.steps.length) {
					this.sendFormRecipe()
						.then(() => {
							this.sendFormIngredients();
						})
						.then(() => {
							this.sendFormSteps();
						})
						.then(() => {
							this.$root.$router.push({name: 'Recipe', params: {id: this.recipeId}})
						})
				}
				this.errors.push({
					message: "On dirait qu'il manque quelque chose"
				})
				return
			},
			sendFormRecipe() {
				return new Promise((resolved) => {
					this.$http.post('http://localhost:8887/public/add', {
						name: this.name,
						persons: this.persons,
						time: this.time.replace(':', 'h'),
						skill: this.skill,
					})
						.then((response) => {
							console.log(response)
							this.recipeId = response.data
							resolved()
						})
						.catch((error) => {
							this.errors.push(error)
							console.log(error)
						})
				})
			},
			sendFormIngredients() {
				return new Promise((resolved) => {
					this.$http.post('http://localhost:8887/public/add/ingredients', {
						recipeId: parseInt(this.recipeId),
						ingredients: this.ingredients,
					})
						.then((response) => {
							console.log(response)
							resolved()
						})
						.catch((error) => {
							this.errors.push(error)
							console.log(error)
						})
				})

			},
			sendFormSteps() {
				return new Promise((resolved) => {
					this.$http.post('http://localhost:8887/public/add/steps', {
						recipeId: parseInt(this.recipeId),
						steps: this.steps,
					})
						.then((response) => {
							console.log(response)
							resolved()
						})
						.catch((error) => {
							this.errors.push(error)
							console.log(error)
						})
				})
			},
		},
	}
</script>
