<template>
    <div>
        <Header/>
        <main>
            <div class="section" v-if="recipeData.length">
                <div class="container">
                    <form v-on:submit.prevent="sendForm" class="container">
                        <div v-if="recipeData.length > 0" class="columns is-multiline">
                            <div class="column">
                                <div class="level">
                                    <div class="level-item">
                                        <h1 class="title is-size-4-mobile has-text-centered">{{ name }}</h1>
                                    </div>
                                </div>
                                <div v-if="errors && errors.length" class="level">
                                    <div class="level-item">
                                        <ul>
                                            <li class="is-size-4 bold title" v-for="error in errors">
                                                {{error.message}} ⛔️
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="columns">
                            <div class="column is-6">
                                <div class="level">
                                    <div class="level-item">
                                        <div class="field">
                                            <label class="label">🥘 Nom de la recette (ex: Poulet rôti)</label>
                                            <div class="control">
                                                <input required class="input" type="text" v-model="name" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="level">
                                    <div class="level-item">
                                        <div class="field">
                                            <label class="label">👨‍💼 Nombre de personne(s)</label>
                                            <div class="control">
                                                <select required class="input" name="" v-model="persons">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="level">
                                    <div class="level-item">
                                        <div class="field">
                                            <label class="label">⌛️ Temps de préparation (ex: 01:15)</label>
                                            <div class="control">
                                                <input required class="input" type="time" v-model="time" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="level">
                                    <div class="level-item">
                                        <div class="field">
                                            <label class="label">🧩 Niveau de difficulté</label>
                                            <div class="control">
                                                <select required class="input" name="skill" id="" v-model="skill">
                                                    <option value="Très facile">Très facile</option>
                                                    <option value="Facile">Facile</option>
                                                    <option value="Moyen">Moyen</option>
                                                    <option value="Dur">Dur</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="columns">
                            <div class="column is-6">
                                <div class="columns" v-for="(ingredient, index) in ingredients" :key="index">
                                    <div class="column is-6 ingredients">
                                        <div class="field">
                                            <div class="control">
                                                <label class="label">🥕 Ingredient :</label>
                                                <input class="input" v-model="ingredient.description" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="field">
                                            <div class="control">
                                                <label class="label">💯 Quantity :</label>
                                                <select class="input" name="quantity" v-model="ingredient.quantity">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column button__edit">
                                        <button @click.prevent="removeIngredient(index)" class="button is-danger">
                                            Supprimer
                                        </button>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column is-6 ingredients">
                                        <div class="field">
                                            <div class="control">
                                                <label class="label">🥕 Ingredient :</label>
                                                <input @keydown.enter.prevent="newIngredient" class="input" v-model="ingredient.description" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="field">
                                            <div class="control">
                                                <label class="label">💯 Quantity :</label>
                                                <select @keydown.enter.prevent="newIngredient" class="input" name="quantity" v-model="ingredient.quantity">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column button__edit">
                                        <button @click.prevent="newIngredient" class="button is-info">Ajouter</button>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="level">
                                    <ul>
                                        <li class="is-capitalized" v-for="ingredient in ingredients">
                                            - {{ ingredient.quantity }}
                                            {{ ingredient.description }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="columns">
                            <div class="column is-6">
                                <div v-for="(step, index) in steps" class="columns">
                                    <div class="column is-9">
                                        <div class="level">
                                            <div class="level-item">
                                                <div class="field">
                                                    <div class="control steps">
                                                        <label class="label">🥣 Étape : {{ step.stepNumber }}</label>
                                                        <textarea @keydown.enter.prevent="removeStep(index)" class="textarea" v-model="step.description" type="text"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column is-3 button__edit">
                                        <button @click.prevent="removeStep(index)" class="button is-danger">Supprimer
                                        </button>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column is-9">
                                        <div class="level">
                                            <div class="level-item">
                                                <div class="field">
                                                    <div class="control steps">
                                                        <label class="label">🥣 Étape : {{ stepNumber }}</label>
                                                        <textarea @keydown.enter.prevent="newStep" class="textarea" v-model="step.description" type="text"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column is-3 button__edit">
                                        <button @click.prevent="newStep" class="button is-info">Ajouter</button>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="level">
                                    <ul>
                                        <li v-for="step in steps">
                                            - Étape {{ step.stepNumber }} : {{ step.description }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="columns">
                            <div class="column">
                                <div class="level">
                                    <div class="level-item">
                                        <div class="is-grouped">
                                            <div class="control">
                                                <button type="submit" class="button is-success">Modifier la recette</button>
                                            </div>
                                            <div class="control">
                                                <router-link class="button is-danger button__cancel"
                                                             :to="{name: 'Home'}" tag="button">
                                                    Annuler
                                                </router-link>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="section" v-else>
                <div class="container">
                    <div class="columns">
                        <div class="column">
                            <div class="level">
                                <div class="level-item">
                                    <h1 class="is-size-4 bold title">Et non, pas de recette à modifier ici 😛</h1>
                                </div>
                            </div>
                            <div class="level">
                                <div class="level-item">
                                    <router-link class="button button__edit is-info" :to="{name: 'Home'}">
                                        Retourner à l'accueil
                                    </router-link>
                                    <router-link class="button button__edit is-info" :to="{name: 'Add'}">
                                        Créer une recette
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</template>

<script>

	import Header from '@/components/Header';

	export default {
		name: "Consult",
		components: {
			Header
		},
		data() {
			return {
				recipeId: 1,
				name: '',
				persons: '',
				time: '',
				skill: '',
				stepNumber: '1',
				step: {
					description: '',
					stepNumber: ''
				},
				ingredient: {
					description: '',
					quantity: '',
				},
				recipeData: [],
				ingredients: [],
				steps: [],
				errors: []
			}
		},
		methods: {
			fetchDataRecipe() {
				this.$http.get('http://localhost:8887/public/recipe/' + this.$route.params.id)
					.then((response) => {
						this.recipeData = response.data;
						this.name = response.data[0].name;
						this.persons = response.data[0].persons;
						this.persons = response.data[0].persons;
						this.time = response.data[0].time.replace('h', ':');
						this.skill = response.data[0].skill
					})
					.catch((error) => {
						this.errors.push(error)
						console.log(error)
					})
			},
			fetchDataRecipeIngredients() {
				this.$http.get('http://localhost:8887/public/recipe/' + this.$route.params.id + '/ingredients')
					.then((response) => {
						this.ingredients = response.data;
					})
					.catch((error) => {
						this.errors.push(error)
						console.log(error)
					})
			},
			fetchDataRecipeSteps() {
				this.$http.get('http://localhost:8887/public/recipe/' + this.$route.params.id + '/steps')
					.then((response) => {
						this.steps = response.data;
						this.stepNumber = this.steps.length + 1;
					})
					.catch((error) => {
						this.errors.push(error)
						console.log(error)
					})
			},

			newStep() {
				if (this.step.description.length) {
					this.steps.push({
						description: this.step.description,
						stepNumber: this.stepNumber
					});
					this.stepNumber++
					this.step.description = '';
					this.step.stepNumber = '';
				}
				return
			},
			newIngredient() {
				if (this.ingredient.description.length && this.ingredient.quantity.length) {
					this.ingredients.push(this.ingredient)
					this.ingredient = {
						description: '',
						quantity: '',
					};
				}
			},

			deleteRecipe() {
				this.$http.delete('http://localhost:8887/public/recipe/' + this.$route.params.id + '/delete')
					.then((response) => {
					})
					.then(() => {
						this.$root.$router.push({name: 'List'})
					})
					.catch((error) => {
						this.errors.push(error)
						console.log(error)
					})
			},
			removeIngredient(elem) {
				this.ingredients.splice(elem, 1);
			},
			removeStep(elem) {
				this.steps.splice(elem, 1);
				this.stepNumber -= 1;
			},

			sendForm() {
				this.errors = []
				if (this.ingredients.length && this.steps.length) {
					this.sendFormRecipe()
						.then(() => {
							this.sendFormIngredients();
						})
						.then(() => {
							this.sendFormSteps();
						})
						.then((r) => {
							this.$root.$router.push({name: 'Recipe', params: {id: this.recipeId}})
						})
				}
				this.errors.push({
					message: "On dirait qu'il manque quelque chose"
				})
				return
			},
			sendFormRecipe() {
				return new Promise((resolved) => {
					this.$http.put(`http://localhost:8887/public/recipe/${this.$route.params.id}/update`, {
						name: this.name,
						persons: this.persons,
						time: this.time.replace(':', 'h'),
						skill: this.skill,
					})
						.then((response) => {
							console.log(response)
							this.recipeId = response.data
							resolved()
						})
						.catch((error) => {
							this.errors.push(error)
							console.log(error)
						})
				})
			},
			sendFormIngredients() {
				return new Promise((resolved) => {
					this.$http.put(`http://localhost:8887/public/recipe/${this.$route.params.id}/ingredients`, {
						ingredients: this.ingredients,
					})
						.then((response) => {
							console.log(response)
							resolved()
						})
						.catch((error) => {
							this.errors.push(error)
							console.log(error)
						})
				})

			},
			sendFormSteps() {
				return new Promise((resolved) => {
					this.$http.put(`http://localhost:8887/public/recipe/${this.$route.params.id}/steps`, {
						steps: this.steps,
					})
						.then((response) => {
							console.log(response)
							resolved()
						})
						.catch((error) => {
							this.errors.push(error)
							console.log(error)
						})
				})
			}
		},
		mounted() {
			this.fetchDataRecipe();
			this.fetchDataRecipeIngredients();
			this.fetchDataRecipeSteps();
		}
	}
</script>