<template>
    <div>
        <Header/>
        <main>
            <div class="section">
                <div class="container">
                    <div class="columns">
                        <div class="column">
                            <div class="level">
                                <div class="level-item">
                                    <h1 class="is-size-4 bold title">Liste des recettes 🍳</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns is-multiline">
                        <div v-for="recipe in recipes" class="column is-4">
                            <router-link :to="{name: 'Recipe', params: { id: recipe.id} }">
                                <div class="box">
                                    <div class="columns">
                                        <div class="column">
                                            <div class="level">
                                                <h2 class="bold is-size-6">🥘 {{ recipe.name }}</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="columns">
                                        <div class="column">
                                            <div class="level">
                                                <h3>👨‍💼 Nombre de personne(s): {{ recipe.persons }}</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="columns">
                                        <div class="column">
                                            <div class="level">
                                                <h3 class="is-capitalized">⌛️ Durée: {{ recipe.time }}</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="columns">
                                        <div class="column">
                                            <div class="level">
                                                <h3 class="is-capitalized">🧩️ Niveau: {{ recipe.skill }}</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</template>

<script>

	import Header from '@/components/Header';

	export default {
		name: "List",
		data() {
			return {
				recipes: ''
			}
		},
		components: {
			Header
		},
		methods: {
			fetchDataRecipe() {
				this.$http.get(`http://localhost:8887/public/all`)
					.then((response) => {
						this.recipes = response.data;
					})
					.catch((error) => {
						this.errors.push(error)
						console.log(error)
					})
			},
		},
		mounted() {
			this.fetchDataRecipe();
		}
	}
</script>

<style scoped lang="scss">
    .button {
        margin-left: 30px;
        border: none;
        color: white;

        &__edit {
            i {
                margin-left: 10px;
            }
        }
    }

    .title {
        margin-bottom: 30px;
    }

    .bold {
        font-weight: bold;
    }
</style>