<template>
    <div>
        <Header/>
        <main>
            <div class="section" v-if="recipeData.length">
                <div class="container">
                    <div v-if="recipeData.length > 0" class="columns is-multiline">
                        <div v-for="recipe in recipeData" class="column">
                            <div class="level">
                                <div class="level-item">
                                    <h1 class="title is-size-4-mobile has-text-centered">{{ recipe.name }}</h1>
                                </div>
                            </div>
                            <div v-if="errors && errors.length" class="level">
                                <div class="level-item">
                                    <ul>
                                        <li class="is-size-4 bold title" v-for="error in errors">
                                            {{error.message}} ⛔️
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="level">
                                <div class="level-item">
                                    <router-link class="button is-info" :to="{name: 'Consult'}">
                                        Modifier
                                    </router-link>
                                    <div @click.prevent="deleteRecipe" class="button is-danger">
                                        Supprimer
                                    </div>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-8 is-offset-2">
                                    <div class="level">
                                        <div class="level-item">
                                            <h2 class="is-size-6 tag">👨‍💼 Nombre de personne(s) : {{ recipe.persons }}</h2>
                                        </div>
                                        <div class="level-item">
                                            <h2 class="is-size-6 tag" style="margin: 0 40px;">⌛️ Durée : {{ recipe.time }}</h2>
                                        </div>
                                        <div class="level-item">
                                            <h2 class="is-size-6 tag">🧩  Niveau : {{ recipe.skill }}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="columns">
                        <div class="column is-6">
                            <div class="level">
                                <h3 class="subtitle is-size-5">🥕 Ingredients :</h3>
                            </div>
                            <div v-for="ingredient in ingredients" class="level">
                                <div class="level-left">
                                    {{ ingredient.quantity }} {{ ingredient.description }}
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="columns">
                                <div class="column is-12">
                                    <h3 class="subtitle is-size-5">🥣 Étapes :</h3>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-12">
                                    <div v-for="step in steps" class="columns">
                                        <div class="column is-2">
                                            <span class="border-b">Étape {{ step.stepNumber }}: </span>
                                        </div>
                                        <div class="column">
                                            <span>{{ step.description }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section" v-else>
                <div class="container">
                    <div class="columns">
                        <div class="column">
                            <div class="level">
                                <div class="level-item">
                                    <h1 class="is-size-4 bold title">Et non, pas de recette ici 😛</h1>
                                </div>
                            </div>
                            <div class="level">
                                <div class="level-item">
                                    <router-link class="button button__edit is-info" :to="{name: 'Home'}">
                                        Retourner à l'accueil
                                    </router-link>
                                    <router-link class="button button__edit is-info" :to="{name: 'Add'}">
                                        Créer une recette
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</template>

<script>

	import Header from '@/components/Header';

	export default {
		name: "Recipe",
		components: {
			Header
		},
		data() {
			return {
				recipeData: [],
				ingredients: [],
				steps: [],
				errors: []
			}
		},
		methods: {
			fetchDataRecipe() {
				this.$http.get(`http://localhost:8887/public/recipe/${this.$route.params.id}`)
					.then((response) => {
						this.recipeData = response.data;
					})
					.catch((error) => {
						this.errors.push(error)
						console.log(error)
					})
			},
			fetchDataRecipeIngredients() {
				this.$http.get(`http://localhost:8887/public/recipe/${this.$route.params.id}/ingredients`)
					.then((response) => {
						this.ingredients = response.data;
					})
					.catch((error) => {
						this.errors.push(error)
						console.log(error)
					})
			},
			fetchDataRecipeSteps() {
				this.$http.get(`http://localhost:8887/public/recipe/${this.$route.params.id}/steps`)
					.then((response) => {
						this.steps = response.data;
					})
					.catch((error) => {
						this.errors.push(error)
						console.log(error)
					})
			},
			deleteRecipe() {
				this.$http.delete(`http://localhost:8887/public/recipe/${this.$route.params.id}/delete`)
					.then(() => {
						this.$root.$router.push({name: 'List'})
					})
					.catch((error) => {
						this.errors.push(error)
						console.log(error)
					})
			},
		},
		mounted() {
			this.fetchDataRecipe();
			this.fetchDataRecipeIngredients();
			this.fetchDataRecipeSteps();
		}
	}
</script>

<style scoped lang="scss">
    #details {
        margin-top: 30px;
    }

    .bold {
        font-weight: bold;
    }

    .button {
        margin: 0 10px;
        border: none;
        color: white;

        &__edit {
            i {
                margin-left: 10px;
            }
        }
    }
</style>