<template>
    <div id="app">
        <router-view/>
    </div>
</template>

<script>
	require("../node_modules/bulma/css/bulma.min.css");

	export default {
		name: 'App'
	}
</script>


<style lang="scss">
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        margin-top: 12px;

        .title {
            max-width: 80%;
            margin-bottom: 20px;
        }

        .subtitle {
            @extend .border-b;
            width: 100%;
            padding-bottom: 10px;
        }

        .border-b {
            border-bottom: 1px solid #000;
            padding-bottom: 5px;
        }

        .field {
            width: 100%;
        }

        input, .input {
            width: 100%;

            &:first-letter {
                text-transform: uppercase;
            }
        }

        .bold {
            font-weight: bold;
        }

        .box {
            border: 1px solid #000;
            box-shadow: none;
        }

        .button {
            min-width: 100px;
            border: none;
            color: white;

            &__edit {
                @media screen and (min-width: 768px) {
                    margin-top: 32px;
                }
            }

            &__cancel {
                display: block;
                margin: 10px auto;
            }
        }
    }
</style>
